.service {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 0px;
  /* text-align: center; */
  box-shadow: var(--box-shadow);
  width: 95%;
  border: none;
}

.service-desc {
  padding: 10px;
}

img {
  width: 100%;
}




/* Media Query*/
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  /* CSS */

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

  /* CSS */

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */

}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* CSS */

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

  /* CSS */

}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {

  /* CSS */


}

h1{
  color: black;
  background: white;
  border-bottom: 2px solid #212121;
  font-weight: 600;
  padding: 10px 10px 10px 25px;
  border-radius: 0 10px;
  box-shadow: rgba(23, 43, 99, .3) 0 7px 28px;
  width: 280px;
  text-align: center;
  margin: 5px auto;
}

.service {

  transition: all 0.2s ease;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
}



.service:hover {

  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1);
 
}