/* all root variables */
:root {
  --green: #27ae60;
  --black: #444;
  --light-color: rgb(73, 69, 69);
  --bg-color: #e6e6e6;
  --border: .1rem solid rgba(0, 0, 0, .2);
  --border2: none;
  --box-shadow: .4rem .4rem 1rem #ccc,
    -.4rem -.4rem 1rem #fff;
  --box-shadow2: .4rem .4rem .5rem #ccc,
    -.4rem -.4rem .5rem #fff;
  --box-shadow-inset: .4rem .4rem 1rem #ccc inset,
    -.4rem -.4rem 1rem #fff inset;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}